<div class="app-post-card">
    <div class="post-header">
        <div>
            <div class="post-author">{{ post.author }}</div>
            <div class="post-timestamp">{{ post.timestamp | date:'short' }}</div>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item *ngIf="isCurrentUser()" (click)="deletePost(post?._id)">
                <mat-icon>delete</mat-icon>
                <span>delete post</span>
            </button>
            <!-- <button mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Edit post</span>
            </button> -->
        </mat-menu>
        <!-- <button *ngIf="isCurrentUser()" (click)="deletePost(post?._id)" class="delete-post-btn">Delete Post</button> -->
    </div>
    <div class="post-content">
        {{ post.description }}
    </div>
    <div class="post-actions">
        <button [ngClass]="isPostLiked ? 'liked' : 'not-liked'" (click)="likeAction(post?._id)">Like
            {{likesCount}}</button>
        <button class="open-comments-btn" (click)="toggleComments()">Comments {{commentCounts}}</button>
    </div>

    <div class="comment-container" *ngIf="showComments">
        <form [formGroup]="commentForm" (ngSubmit)="submit(post?._id)" class="comment-form">
            <input type="text" placeholder="Write a comment..." formControlName="content" class="comment-input">
            <button type="submit" [disabled]="!commentForm.dirty || !commentForm.valid" class="submit-btn">
                Post Comment
            </button>
        </form>

        <div class="comments-list">
            <div *ngFor="let comment of post.comments" class="comment-item">
                <div class="comment-header">
                    <span class="comment-author">{{comment.name}}</span>
                    <span class="comment-timestamp">{{comment.timestamp | date:'short'}}</span>
                </div>
                <p class="comment-content">{{comment.content}}</p>
                <div class="comment-actions">
                    <button class="small-action-btn" (click)="deleteComment(post?._id, comment?._id)">Delete this
                        Comment</button>
                </div>
            </div>
        </div>
    </div>
</div>