.app-post-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.profile-picture {
    border-radius: 50%;
    height: 50px;
    margin-right: 15px;
    width: 50px;
}

.post-author {
    font-weight: bold;
    font-size: 1.2em;
}

.post-timestamp {
    color: #888;
    font-size: 0.9em;
}

.post-content {
    font-size: 1.1em;
    line-height: 1.6em;
    margin-bottom: 15px;
}

.post-actions {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.liked {
    background-color: #337ab7; /* blue color for liked button */
    color: #ffffff; /* white text color */
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .liked:hover {
    background-color: #23527c; /* darker blue on hover */
  }
  
  .not-liked {
    background-color: #cccccc; /* gray color for not liked button */
    color: #333333; /* dark gray text color */
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .not-liked:hover {
    background-color: #aaaaaa; /* lighter gray on hover */
  }