<div class="user-menu-container">
    <div class="profile-section">
        <div class="profile-card">
            <h2>User Profile</h2>
            <div class="profile-info" *ngIf="userData">
                <p><strong>Name:</strong> {{ userProfile.name }}</p>
                <p><strong>Email:</strong> {{ userProfile.email }}</p>
            </div>
        </div>
    </div>

    <div class="task-container">
        <h2>Task List</h2>
        <ul>
            <li *ngFor="let item of userData">
                <div class="task-section">
                    <div class="post-header">
                        <!-- <img [src]="post.authorProfilePicture" alt="Profile Picture" class="profile-picture"> -->
                        <div class="post-author">{{ item.author }}</div>
                        <div class="post-timestamp">{{ item.timestamp | date:'short' }}</div>
                    </div>
                    <div class="post-content">{{ item.description }}</div>
                    <div class="post-actions">
                        <button>Like ({{ item.likes }})</button>
                        <button>Share</button>
                    </div>
                    <div class="post-comments">
                        <div *ngFor="let comment of item.comments" class="comment">
                            <div class="comment-author">{{ comment.author }}</div>
                            <div class="comment-content">{{ comment.content }}</div>
                            <div class="comment-timestamp">{{ comment.timestamp | date:'short' }}</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>