<header>
  <div class="container">
    <a routerLink="/" class="logo">Connect PRO</a>
    <nav>
      <ul>
        <!-- Show login link only when the user is not logged in -->
        <li *ngIf="user">
          <a (click)="createPost()">Create-Post</a>
        </li>
        <li *ngIf="!user">
          <a routerLink="/">Login</a>
        </li>

        <!-- Show username and menu when user is logged in -->
        <li class="menu-container">
          <a>{{user?.name}}</a>
          <div class="menu">
            <!-- <a routerLink="/profile">Profile</a> -->
            <!-- <a routerLink="/orders">Orders</a> -->
            <a (click)="logout()">Logout</a>
          </div>
        </li>

        <li>
          <!-- <a routerLink="/cart-page">
              Tasks
            </a> -->
        </li>
      </ul>
    </nav>
  </div>
</header>